  </main>
  <div class="sidebar">
    <div class="book-container">
      <h3>My book</h3>
      <a target="_blank" href="https://www.amazon.com/gp/product/1789344204"><img width="100%" height="750"  src="/images/bughunting-cover.jpg" style="border:none; "></a>
      <p>
        <a href="https://www.packtpub.com/networking-and-servers/hands-bug-hunting-penetration-testers">
          <i>"Excellent livre que je conseille a tout ceux qui s’intéressent aux bug bounty"</i>
      </p>
      <p>
          <i>"[An excellent book that I consult for all my bug bounty concerns]"</i>
      </p>
      <p style="text-align:right;">
          <i>- Packt User</i>
        </a>
      </p>
      </img>
    </div>
    </div>
  </div>
  <div class="main-footer">
    {{ partial "pagination.html" .Paginator }}
    {{ partial "siteinfo.html" . }}
    {{ partial "menu.html" . }}
  </div>
  <footer class="l-footer">
    {{ partial "link.html" . }}

    <p class="p-copyright">
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
      {{ else }}
        {{ if .Site.Params.author }}
          {{ if .Site.Params.authorwebsite }}
            <a href="{{ .Site.Params.authorwebsite }}">{{ .Site.Params.author }}</a>
          {{ else }}
            {{ .Site.Params.author }}
          {{ end }}
        {{ end }}
        &nbsp;&bull;&nbsp;
        {{ .Site.LastChange.Format "2006" }}

        {{ if .Site.Title }}
          &nbsp;&bull;&nbsp;
          <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
        {{ end }}
      {{ end }}
    </p>
  </footer>

  <!-- Bootstrap highlight.js -->
  <script>hljs.initHighlightingOnLoad();</script>

  <script>
    let hi = `%c
|   |o    --.--|                   |
|---|.      |  |---.,---.,---.,---.|
|   ||      |  |   ||---'|    |---'
'   ''      '  '   ''---''    '---'o`;
    console.log(hi, "font-family:monospace");
    console.log("Thank you for coming to my humble site. Want to hear a joke?");
    console.log("What do you say to a co-worker wearing a silly hat?");
    console.log("(Check the next line in source for answer)");
    // ANSWER: Work is not the place for such frivolity.
  </script>

  {{- partial "footer_custom.html" . }}
</body>
</html>
