{{ if or ( .Site.Params.avatar ) ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
<aside class="p-author">
  {{ with .Site.Params.avatar }}
  <div class="c-avatar p-author__avatar">
    <img alt="Author Avatar" src="{{ . }}" />
  </div>
  {{ end }}
  {{ if or ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
  <div class="p-author__body">
    {{ with .Site.Params.author }}
    <p class="c-title p-author__name ">{{ . }}</p>
    <br>
    {{ end }}
    {{ with .Site.Params.bio }}
    <p>{{ . }}</p>
    <br>
   <p>His first book, <a target="_blank" onclick="getOutboundLink('https://www.amazon.com/gp/product/1789344204');" href="https://www.amazon.com/gp/product/1789344204"><i>Hands-On Bug Hunting for Penetration Testers</i></a>, is out now.</p>
   <br>

    <div class="book-container-mobile">
      <h3>My book</h3>
      <a target="_blank"
        href="https://www.amazon.com/gp/product/1789344204"
        onclick="getOutboundLink('https://www.amazon.com/gp/product/1789344204');"
        ><img src="/images/bughunting-cover.jpg" style="border:none; "></a>
      <a target="_blank" class="c-book-rating" aria-label="Rated 4.6 out of 5 stars on Amazon"
        href="https://www.amazon.com/gp/product/1789344204"
        onclick="getOutboundLink('https://www.amazon.com/gp/product/1789344204');"
        ><span class="c-book-rating__stars" aria-hidden="true"></span><span class="c-book-rating__text">4.6/5</span></a>
      <p>
      <a target="_blank"
      href="https://www.packtpub.com/networking-and-servers/hands-bug-hunting-penetration-testers"
      onclick="getOutboundLink('https://www.packtpub.com/networking-and-servers/hands-bug-hunting-penetration-testers');"
      >
          <i>"Excellent livre que je conseille a tout ceux qui s’intéressent aux bug bounty"</i>
      </p>
      <p>
          <i>"[Excellent book that I recommend to all those interested in bug bounties]"</i>
      </p>
      <p style="text-align:right;">
          <i>- Packt User</i>
      </p>
      <p>
        <i>"Overall great hands on guide."</i>
      </p>
      <p style="text-align: right;">
        <i>- DJ Sauer</i>
      </p>
      </a>
      </img>
    </div>
    </div>


    {{ end }}
    {{ with .Site.Params.contact }}
    <p>
      <a href="{{ . }}">
        Contact me
      </a>
    </p>
    {{ end }}
  </div>
  {{ end }}
</aside>
{{ end }}
