{{ if or ( .Site.Params.avatar ) ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
<aside class="p-author">
  {{ with .Site.Params.avatar }}
  <div class="c-avatar p-author__avatar">
    <img alt="Author Avatar" src="{{ . }}" />
  </div>
  {{ end }}
  {{ if or ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
  <div class="p-author__body">
    {{ with .Site.Params.author }}
    <p class="c-title p-author__name ">{{ . }}</p>
    <br>
    {{ end }}
    {{ with .Site.Params.bio }}
    <p>{{ . }}</p>
    <br>
   <p>If you're interested in receiving updates about the book and related events, sign up for the newsletter below. Or <a href="https://www.amazon.com/gp/product/1789344204/ref=as_li_tl?ie=UTF8&tag=bughunt-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1789344204&linkId=d0166c1e6990155b2e00db633c3e27d3">order it now</a>.</p>
   <br>
   <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="https://guide.us9.list-manage.com/subscribe/post?u=50452eee01aae18a82d9dd092&amp;id=6a3ceab984" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="text-align: left;">
        <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_50452eee01aae18a82d9dd092_6a3ceab984" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->


    {{ end }}
    {{ with .Site.Params.contact }}
    <p>
      <a href="{{ . }}">
        Contact me
      </a>
    </p>
    {{ end }}
  </div>
  {{ end }}
</aside>
{{ end }}
